{% extends "base.html.twig" %}



{% block title %}{{ c[47]|raw }} | {% endblock %}



{% block body %}

    {% include "nav.html.twig" %}

    <div class="standard-content">
        <div class="ui text container">
            <h1 class="ui horizontal divider huge header">{{ c[71]|raw }}</h1>

            <div class="part-of-org-box">
                <div class="org-box fyeg">
                    <img src="/assets/images/FYEG-logo-full.png" alt="Logo of Federation of Young European Greens"/>
                    <div class="description">
                        {% if lang is same as('lv') %}
                            Kopš 2020. gada 29. augusta "Protests" ir <a href="https://fyeg.org/" target="_blank">Eiropas jauno zaļo federācijas (FYEG)</a> dalīborganizācija.
                        {% endif %}
                        {% if lang is same as('en') %}
                            Since August 29, 2020, "Protests" is a member organization of the <a href="https://fyeg.org/" target="_blank">Federation of Young European Greens</a>.
                        {% endif %}
                        {% if lang is same as('ru') %}
                            С 29 августа 2020 "Protests" членская организация <a href="https://fyeg.org/" target="_blank">Федерации молодых европейских зеленых (FYEG)</a>.
                        {% endif %}
                    </div>
                </div>
                <div class="org-box pro">
                    <img src="/assets/images/Progresivie-logo.png" alt="Progresivie logo"/>
                    <div class="description">
                        {% if lang is same as('lv') %}
                            Kopš 2022. gada 14. februāra mums ir sadarbības vienošanās ar partiju <a href="https://www.progresivie.lv/" target="_blank">PROGRESĪVIE</a>. Vienošanos atradīsiet sadaļā <a href="https://www.protests.eu/lv/documents" target="_blank">Dokumenti</a>.
                        {% endif %}
                        {% if lang is same as('en') %}
                            Since February 14, 2022, we have a cooperation agreement with political party <a href="https://www.progresivie.lv/" target="_blank">The Progressvies</a>. You can find the agreement in the <a href="https://www.protests.eu/en/documents" target="_blank">Documents</a> section.
                        {% endif %}
                        {% if lang is same as('ru') %}
                            С 14 февраля 2022 у нас есть договор о сотрудничестве с <a href="https://www.progresivie.lv/" target="_blank">Прогрессивными</a>. С договором можно ознакомиться в разделе <a href="https://www.protests.eu/ru/documents" target="_blank">Документы</a>.
                        {% endif %}
                    </div>
                </div>
            </div>

            <h1 class="ui horizontal divider huge header">{{ c[64]|raw }}</h1>

            <div class="part-of-org-box">
                <div class="org-box ljp">
                    <img src="/assets/images/LJP-logo.png" alt="Latvijas jaunatnes padomes logo"/>
                    <div class="description">
                        {% if lang is same as('lv') %}
                            Kopš 2019. gada 2. novembra "Protests" ir <a href="http://ljp.lv/" target="_blank">Latvijas Jaunatnes padomes</a> kandidātdalīborganizācija.
                        {% endif %}
                        {% if lang is same as('en') %}
                            Since November 2, 2019, "Protests" is an associated member of <a href="http://ljp.lv/" target="_blank">National Youth Concil of Latvia (LJP)</a>.
                        {% endif %}
                        {% if lang is same as('ru') %}
                            С 2 ноября 2019 "Protests" ассоциированный член <a href="http://ljp.lv/" target="_blank">Латвийского Молодежного совета (LJP)</a>.
                        {% endif %}
                    </div>
                </div>
                <div class="org-box cdn">
                    <img src="/assets/images/CDN-logo.png" alt="CDN logo"/>
                    <div class="description">
                        {% if lang is same as('lv') %}
                            Kopš 2020. gada 10. marta "Protests" ir <a href="https://www.cdnee.org/" target="_blank">Cooperation and Development network</a> partnerorganizācija.
                        {% endif %}
                        {% if lang is same as('en') %}
                            Since March 10, 2020, "Protests" is a partner organisation of <a href="https://www.cdnee.org/" target="_blank">Cooperation and Development network</a>.
                        {% endif %}
                        {% if lang is same as('ru') %}
                            С 10 марта 2020 "Protests" является партнерской организацией <a href="https://www.cdnee.org/" target="_blank">Cooperation and Development network</a>.
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="partner-list">
                {% for partner in partners %}
                        {% if partner.link is same as("") %}<div class="partner-logo"
                        {% else %}<a class="partner-logo" href="{{partner.link}}" target="_blank"{% endif %}  data-inverted="" data-tooltip="{{partner.name}}" data-position="top center">
                        <img src="/assets/uploads/{{partner.logo}}"/>
                        {% if partner.link is same as("") %}</div>
                        {% else %}</a>{% endif %}
                {% endfor %}
            </div>

        </div>
    </div>


{% endblock %}



{% block javascripts %}
{% include "navjs.html.twig" %}

<script>

/*$(document).ready(function(){
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        autoplay:true,
        autoplayTimeout:2000,
        autoplayHoverPause:true,
        responsive:{
            0:{
                items:1
            }
        }
    })
});*/

</script>
{% endblock %}