{% extends "base.html.twig" %}

{% block title %}{{ article.title }} | {% endblock %}

{% block head %}
    <meta property="og:image" content="http://www.protests.eu/assets/uploads/{{ article.image }}"/>
    <meta property="og:image:url" content="http://www.protests.eu/assets/uploads/{{ article.image }}"/>
    
    <meta property="og:title" content="{{ article.title|striptags }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ProtestsYouth">
    <meta name="twitter:creator" content="@ProtestsYouth">
    <meta name="twitter:title" content="{{ article.title|striptags }}">
    <meta name="twitter:description" content="{{ article.text|striptags }}">
    <meta name="twitter:text:description" content="{{ article.text|striptags }}">
    <meta name="twitter:image" content="http://www.protests.eu/assets/uploads/{{ article.image }}">

    <meta name="author" content="{{ articleauthor }}">
    <meta name="keywords" content="{% for tag in taglist %}{{ tag }}, {% endfor %}jaunatne, jaunatnes organizÄcija, Protests">
    <meta name="description" content="{{ article.text|striptags }}">

    <script type='text/javascript' src='/frameworks/unitegallery/js/unitegallery.min.js'></script> 
    <link rel='stylesheet' href='/frameworks/unitegallery/css/unite-gallery.css' type='text/css' /> 
    <script type='text/javascript' src='/frameworks/unitegallery/themes/tiles/ug-theme-tiles.js'></script> 
    <link rel='stylesheet' href='/frameworks/unitegallery/themes/default/ug-theme-default.css' type='text/css' />

    <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
{% endblock %}

{% block body %}

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/lv_LV/sdk.js#xfbml=1&autoLogAppEvents=1&version=v3.2&appId=768281090231838"></script>

    {% include "nav.html.twig" %}

    <div class="standard-content">
        <div class="ui text container">

            <div class="article-container">
                <h1>{{ article.title|raw }}</h1>
                <span class="date">{{ article.time|date('d.m.Y H:i', "Europe/Riga") }}</span><br/>
                <a href="{{ path('author', {author: article.author}) }}" class="author">{{ articleauthor }}</a>
                <img class="title-img" src="/assets/uploads/{{ article.image }}"/>
                <div class="image-descr">{{ article.description|raw }}</div>   
                <div class="text">
                    {{ article.text|raw }}
                </div>
            </div>

            {% if article.images|length is not same as(0) %}
            <div id='gallery' style='display:none; margin: 20px 0px;'>
                {% for image in article.images %}
                    <img alt='' src='/assets/uploads/{{ image }}' data-image='/assets/uploads/{{ image }}'>
                {% endfor %}
            </div>
            {% endif %}

            <div class="ui labels">
            {% for key, tag in taglist %}
                <a href="{{ path('tag', {tag: taglinks[key]}) }}" class="ui big label">{{ tag }}</a>
            {% endfor %}
            </div>

            <div class="socmedia-share-buttons">
                <div class="fb-like" data-href="{{ app.request.uri }}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="{{ article.title }}" data-url="{{ app.request.uri }}" data-related="ProtestsYouth" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                
                <script type="text/javascript"><!--
                    document.write(VK.Share.button(false,{type: "round", text: "Share"}));
                --></script>
                
                <script type="text/javascript" src="//www.draugiem.lv/api/api.js"></script>
                <div id="draugiemLike"></div>
                <script type="text/javascript">
                    var p = {
                    link:"{{ app.request.uri }}",
                    title:"{{ article.title }}",
                    text:"{{ article.text|striptags }}",
                    popup:true,
                    picUrl:"http://www.protests.eu/assets/uploads/{{ article.image }}"
                    };
                    new DApi.Like(p).append('draugiemLike');
                </script>

            </div>

            <div>
                <div width="100%" class="fb-comments" data-href="{{ app.request.uri }}" data-numposts="5"></div>
            </div>

        </div>
    </div>


{% endblock %}



{% block javascripts %}
{% include "navjs.html.twig" %}

<script>

$(document).ready(function(){ 
    //$("#gallery").unitegallery(); 
    $("#gallery").unitegallery({
        gallery_theme:"tiles"	
    });//*/

}); 

</script>
{% endblock %}