{% extends "base.html.twig" %}



{% block title %}{{ tag }} | {% endblock %}



{% block body %}

    {% include "nav.html.twig" %}

    <div class="standard-content">
        <div class="ui text container">
            <h1 class="ui horizontal divider huge header">
                <div class="sub header">{{ c[56] }}</div>{{ tag }}
            </h1>

            <div class="news-grid">
                {% set i = 0 %}
                {% set break = false %}
                {% for article in articles if not break %}
                    <div class="article">
                        <a href="{{ path('article', {article_url: article.link}) }}" class="image">
                            <img src="/assets/uploads/{{ article.image }}"/>
                        </a>
                        <a href="{{ path('article', {article_url: article.link}) }}" class="header">
                            <h2>{{ article.title }}</h2>
                        </a>
                        <span class="time">{{ articletime[i] }}</span> · 
                        <a href="{{ path('author', {author: article.author}) }}" class="author">{{ articleauthor[i] }}</a>
                        
                    </div>
                    {% set i = i + 1 %}
                {% endfor %}
            </div>


        </div>
    </div>


{% endblock %}



{% block javascripts %}
{% include "navjs.html.twig" %}

<script>

/*$(document).ready(function(){
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        autoplay:true,
        autoplayTimeout:2000,
        autoplayHoverPause:true,
        responsive:{
            0:{
                items:1
            }
        }
    })
});*/

</script>
{% endblock %}