{% extends "admin/base.html.twig" %}


{% block title %}New Content{% endblock %}


{% block body %}
    {% include "admin/nav.html.twig" %}
    
    <div class="dimmed pusher content-with-menu">

            <div class="ui text container">

                <div class="ui breadcrumb">
                    <a href="{{ path('adminIndex') }}" class="section">Home</a>
                    <i class="right angle icon divider"></i>
                    <a href="{{ path('adminContents') }}" class="section">Website Content</a>
                    <i class="right angle icon divider"></i>
                    <div class="active section">New Content</div>
                </div>


                <h1 class="ui header">
                    New Content
                    <div class="sub header">Add a new piece of content to the website (has to be programmed to be displayed)</div>
                </h1>

                <div class="ui divider"></div>

                {{ form_start(form, { 'attr' : { 'class': 'ui form', 'onsubmit': 'submitted();' } }) }}
                    {{ form_errors(form) }}
                    
                    <div class="field">
                        {{ form_label(form.category) }}
                        {{ form_errors(form.category) }}
                        {{ form_widget(form.category, { 'attr' : { 'class': 'ui dropdown' } }) }}
                        {{ form_help(form.category) }}
                    </div>

                    <div class="field">
                        {{ form_label(form.location) }}
                        {{ form_errors(form.location) }}
                        {{ form_widget(form.location) }}
                        {{ form_help(form.location) }}
                    </div>

                    <div class="field">
                        {{ form_label(form.content) }}
                        {{ form_errors(form.content) }}
                        {{ form_widget(form.content, { 'attr' : { 'class': 'summernote0' } }) }}
                        {{ form_help(form.content) }}
                    </div>

                    <div class="field">
                        {{ form_label(form.contenten) }}
                        {{ form_errors(form.contenten) }}
                        {{ form_widget(form.contenten, { 'attr' : { 'class': 'summernote1' } }) }}
                        {{ form_help(form.contenten) }}
                    </div>

                    <div class="field">
                        {{ form_label(form.contentru) }}
                        {{ form_errors(form.contentru) }}
                        {{ form_widget(form.contentru, { 'attr' : { 'class': 'summernote2' } }) }}
                        {{ form_help(form.contentru) }}
                    </div>
                    
                    {{ form_widget(form.save, { 'attr' : { 'class': 'ui positive button' } }) }}

                {{ form_end(form) }}

            </div>

    </div>

{% endblock %}


{% block javascripts %}
<script>

    function submitted(){
        $("#form_save").addClass("loading");
        $("#form_save").prop('disabled', true);
        return true;
    }

    function updateIcon(){
        document.getElementById('iconPreview').innerHTML = "<i class='fas fa-" + document.getElementById('form_icon').value + "'></i>";
    }


    $(document).ready(function() {
    
        $('.summernote0').summernote({
            height: 100,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['attach', ['link','picture','video','table']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['other', ['fullscreen','codeview','undo','redo','help']]
            ],
            callbacks: {
                onChange: function(contents, $editable) {
                    //console.log('onChange:', contents, $editable);
                    $("#form_content").html( contents );
                }
            }
        });
        $('.summernote1').summernote({
            height: 100,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['attach', ['link','picture','video','table']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['other', ['fullscreen','codeview','undo','redo','help']]
            ],
            callbacks: {
                onChange: function(contents, $editable) {
                    //console.log('onChange:', contents, $editable);
                    $("#form_contenten").html( contents );
                }
            }
        });
        $('.summernote2').summernote({
            height: 100,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['attach', ['link','picture','video','table']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['other', ['fullscreen','codeview','undo','redo','help']]
            ],
            callbacks: {
                onChange: function(contents, $editable) {
                    //console.log('onChange:', contents, $editable);
                    $("#form_contentru").html( contents );
                }
            }
        });

        $('select.dropdown').dropdown();


    });
</script>
{% endblock %}