<div class="ui fixed inverted large main menu" id="standard-menu">
  <div class="ui container">
    <a class="ui launch icon item" id="nav-but" onclick="toggleMenuVisible()"><i class="content icon"></i></a>
    <div class="item">
      <span>Welcome,&#160</span><b>{{ username }}</b>!
    </div>
    
  </div>
</div>

<div class="ui left fixed vertical inverted large menu" id="bigscreen-menu">
  <div class="item">Welcome, <b>{{ username }}</b>!</div>
  <a class="item" href="{{ path('adminIndex') }}">Home</a>
  <a class="item">Website Content</a>
  <a class="item" href="{{ path('adminArticles') }}">Articles</a>
  <a class="item" href="{{ path('adminLogout') }}">Log out</a>
</div>

<div class="ui left fixed vertical sidebar overlay inverted large menu" id="standard-menu">
  <a class="item" href="{{ path('adminIndex') }}">Home</a>
  <a class="item">Website Content</a>
  <a class="item" href="{{ path('adminArticles') }}">Articles</a>
  <a class="item" href="{{ path('adminLogout') }}">Log out</a>
</div>


<script>
  function toggleMenuVisible(){
    $('.ui.sidebar').sidebar('toggle');
  }
</script>