{% extends "admin/base.html.twig" %}


{% block title %}New Event{% endblock %}


{% block body %}
    {% include "admin/nav.html.twig" %}
    
    <div class="dimmed pusher content-with-menu">

            <div class="ui text container">

                <div class="ui breadcrumb">
                    <a href="{{ path('adminIndex') }}" class="section">Home</a>
                    <i class="right angle icon divider"></i>
                    <a href="{{ path('adminEvents') }}" class="section">Events</a>
                    <i class="right angle icon divider"></i>
                    <div class="active section">New Event</div>
                </div>


                <h1 class="ui header">
                    New Event
                    <div class="sub header">Add a new event</div>
                </h1>

                <div class="ui divider"></div>

                {{ form_start(form, { 'attr' : { 'class': 'ui form', 'onsubmit': 'submitted();' } }) }}
                    {{ form_errors(form) }}

                    <div class="field">
                        {{ form_label(form.title) }}
                        {{ form_errors(form.title) }}
                        {{ form_widget(form.title) }}
                        {{ form_help(form.title) }}
                    </div>
                    
                    <div class="field">
                        {{ form_label(form.time0) }}
                        {{ form_errors(form.time0) }}
                        {{ form_widget(form.time0) }}
                        {{ form_help(form.time0) }}
                    </div>

                    <div class="field">
                        {{ form_label(form.time1) }}
                        {{ form_errors(form.time1) }}
                        {{ form_widget(form.time1) }}
                        {{ form_help(form.time1) }}
                    </div>

                    <div class="field">
                        {{ form_label(form.location) }}
                        {{ form_errors(form.location) }}
                        {{ form_widget(form.location) }}
                        {{ form_help(form.location) }}
                    </div>

                    <div class="field">
                        {{ form_label(form.description) }}
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description, { 'attr' : { 'class': 'summernote' } }) }}
                        {{ form_help(form.description) }}
                    </div>

                    <div class="field">
                        {{ form_label(form.finished) }}
                        {{ form_errors(form.finished) }}
                        {{ form_widget(form.finished, { 'attr' : { 'class': 'ui dropdown' } }) }}
                        {{ form_help(form.finished) }}
                    </div>
                    
                    {{ form_widget(form.save, { 'attr' : { 'class': 'ui positive button' } }) }}

                {{ form_end(form) }}

            </div>

    </div>

{% endblock %}


{% block javascripts %}
<script>

    function submitted(){
        $("#form_save").addClass("loading");
        $("#form_save").prop('disabled', true);
        return true;
    }

    $(document).ready(function() {
    
        $('.summernote').summernote({
            height: 200,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['color', ['color']],
                ['attach', ['link','picture','video','table']],
                ['other', ['fullscreen','codeview','undo','redo','help']]
            ],
            callbacks: {
                onChange: function(contents, $editable) {
                    //console.log('onChange:', contents, $editable);
                    $("#form_text").html( contents );
                }
            }
        });
        
        $('select.dropdown').dropdown();
        
    });
</script>
{% endblock %}