
{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}

<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="alternate" href="{{ path(route, params|merge({ _locale: 'lv' })) }}" hreflang="x-default" />
        <link rel="alternate" href="{{ path(route, params|merge({ _locale: 'lv' })) }}" hreflang="lv" />
        <link rel="alternate" href="{{ path(route, params|merge({ _locale: 'en' })) }}" hreflang="en" />
        <!--<link rel="alternate" href="{{ path(route, params|merge({ _locale: 'lv' })) }}" hreflang="ru" />-->

        <link rel="stylesheet" href="/plugins/owlcarousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="/plugins/owlcarousel/assets/owl.theme.default.min.css">

        <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"></script>
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

        <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/semantic.min.css">
        <script src="/node_modules/semantic-ui/dist/semantic.min.js"></script>      

        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Enriqueta|Lora" rel="stylesheet">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135967204-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-135967204-1');
        </script>


        <script type="text/javascript" src="/js/script.js"></script>        
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>

        <link rel="icon" type="image/png" href="/assets/images/favicon.png" />

        {% block head %}{% endblock %}

        <title>{% block title %}{% endblock %}Jaunatnes organizācija "Protests"</title>
    </head>
    <body {% block bodyProperties %}{% endblock %} >

        {% block body %}{% endblock %}

        {% include "footer.html.twig" %}

        <div class="cookie-alert">
            <div class="flex">
                <div class="text">{{ c[51]|raw }}</div>
                <div class="buttons">
                    <a class="speclink" href="{{ path('privacy') }}" target="_blank">{{ c[52] }}</a>
                    <button onclick="stopCookieAlert();" class="button white">{{ c[53] }}</button>
                </div>
            </div>
        </div>

        <script src="/plugins/owlcarousel/owl.carousel.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>