
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">{{ c[20]|raw }}</h4>
        <div class="ui inverted link list">
          <a href="{{ path('about') }}" class="item">{{ c[23]|raw }}</a>
          <a href="{{ path('contact') }}" class="item">{{ c[24]|raw }}</a>
          <a href="{{ path('people') }}" class="item">{{ c[60]|raw }}</a>
          <a href="{{ path('documents') }}" class="item">{{ c[25]|raw }}</a>
          <a href="{{ path('partners') }}" class="item">{{ c[46]|raw }}</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">{{ c[21]|raw }}</h4>
        <div class="ui inverted link list">
          <a href="{{ path('articles') }}" class="item">{{ c[26]|raw }}</a>
          <a href="{{ path('join') }}" class="item">{{ c[27]|raw }}</a>
          <a href="{{ path('donate') }}" class="item">{{ c[49]|raw }}</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">{{ c[22]|raw }}</h4>
        <div class="ui inverted link list">
          <a href="https://www.facebook.com/protestsjaunatne" target="_blank" class="item">Facebook</a>
          <a href="https://twitter.com/ProtestsYouth" target="_blank" class="item">Twitter</a>
          <a href="https://www.instagram.com/protestsjaunatne/" target="_blank" class="item">Instagram</a>
        </div>
      </div>
      <div class="six wide column">
        <div class="ui inverted horizontal link list">
          {% if lang is not same as('lv') %}<a class="item" href="{{ path(route, params|merge({ _locale: 'lv' })) }}">Latviski</a>{% endif %}
          {% if lang is not same as('en') %}<a class="item" href="{{ path(route, params|merge({ _locale: 'en' })) }}">English</a>{% endif %}
          {% if lang is not same as('ru') %}<a class="item" href="{{ path(route, params|merge({ _locale: 'ru' })) }}">По-русски</a>{% endif %}
        </div>
        <div class="ui inverted link list">
          <p class="item">
            {% if lang is same as('lv') %}Interneta vietni veidoja{% endif %}
            {% if lang is same as('en') %}Website created by{% endif %}
            {% if lang is same as('ru') %}Эту страницу создал{% endif %}
            Niks Derums · 2019—2022
          </p>
          <p class="item">
            <a href="{{ path('logo') }}" class="ui footer-link">{{ c[69] }}</a> · <a href="{{ path('privacy') }}" class="ui footer-link">{{ c[55] }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>